*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css barra de navegacion */ 

.navegacion{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    align-items: center;
    background-color: #cab4c4;
}

.navegacion li a{
    text-decoration: none;
}

.navegacion li{
    list-style: none;
}

.pasteleria{
    background-color: #cab4c4;
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 1em;
}

.dulces-saladas{
    background-color: #cab4c4;
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
}

.logochoux{
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 100%;
}

.servicios{
    background-color: #cab4c4;
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
}

.contacto{
    background-color: #cab4c4;
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
}

/* css index main */

.presentacion{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    align-items: center;
}

main div p{
    text-align: center;
    margin: 10px;
}

.secciones{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem 1rem;
    margin: 1rem;
}

.secciones div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secciones div p{
    text-align: center;
    margin-top: 1rem;
}

.imagenes-seccion{
    height: 75%;
    width: 75%;
    object-fit: cover;
}

.seccion-cafeteria{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 10px;
}

.texto-cafe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0.5em;
}

.seccion-sandwicheria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin: 1rem;
}

.imagen-sandwicheria{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-sandwicheria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0.5em;
}

@media screen and (min-width:1024px){
    .logochoux{
        justify-self: center;
        align-self: center;
        height: 10rem;
        width: 10rem;
    }
    .secciones{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(1,1fr);
        gap: 1rem 1rem;
        margin: 1rem;
    }
    .imagenes-seccion{
        height: 50%;
        width: 75%;
        object-fit: cover;
    }
    .seccion-cafeteria{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        margin: 2rem;
    }
    .texto-cafe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1em;
    }
    .foto-cafe{
        object-fit: cover;
        justify-self: center;
        align-self: center;
    }
    .seccion-sandwicheria{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        margin: 1rem;
    }
    .foto-sandwicheria{
        object-fit: cover;
        justify-self: center;
        align-self: center;
    }
    .imagen-sandwicheria{
        height: 15rem;
    }
}

/* css footer */ 

footer{
    background-color: #446c95;
}

.pie .footer-uno{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 0.5fr 1fr;
    gap: 1rem 1rem;
    padding: 0.5rem;
    justify-items: center;
    align-items: center;
}

.footer-lista-uno{
    line-height: 2rem;
    color: #cab4c4;
}

.footer-lista-dos{
    line-height: 2rem;
    color: #cab4c4;
}

.footer-derechos{
    text-align: center;
    color: #cab4c4;
}

@media screen and (min-width:1024px){
    .pie .footer-uno{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr;
    }
}

/*css html la pasteleria*/

.titulo-pasteleria{
    display: block;
    text-align: center;
    margin: 10px;
    border: 3px solid #8ba9c5;
}

.main-pasteleria{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    gap: 5px;
}

.imagen-pasteleria{
    width: 15rem;
}

.main-texto-pasteleria{
    text-align: center;
}

.seccion-pasteleria-uno{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 20px 10px;
}

.seccion-texto-pasteleria{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.seccion-titulo-dos{
    text-align: center;
}

.seccion-pasteleria-dos{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,0.5fr);
    align-items: center;
    justify-items: center;
    row-gap: 0.5rem;
    margin: 10px;
}

.seccion-texto-pasteleria-dos{
    text-align: center;
}

@media screen and (min-width:600px){
    .imagen-pasteleria{
        width: 20rem;
    }
    .seccion-pasteleria-dos{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,0.4fr);
        align-items: center;
        justify-items: center;
        row-gap: 1rem;
    }
}

@media screen and (min-width:1024px){
    .main-pasteleria{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 20px 10px;
        gap: 5px;
    }
    .foto-pasteleria{
        justify-self: center;
        align-self: center;
        object-fit: cover;
    }
    .seccion-pasteleria-uno{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-items: center;
        gap: 5px;
        margin: 20px 10px;
    }
    .seccion-titulo-dos{
        text-align: center;
        margin-top: 2rem;
    }
    .seccion-pasteleria-dos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
        column-gap: 1em;
        margin: 2rem;
    }
}

/*css cositas dulces*/

.titulo-cositas{
    display: block;
    text-align: center;
    margin: 10px;
    border: 3px solid #8ba9c5;
}

main div p{
    text-align: center;
    margin: 15px;
}

.imagen-cositas{
    width: 200px;
    height: 200px;
    display: block;

}

.seccion-cositas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 20px 20px;
    justify-items: center;
    align-items: center;
    margin: 1rem;
}

.seccion-cositas div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.seccion-cositas p{
    text-align: center;
}

/*css servicios*/

.titulo-servicios{
    display: block;
    text-align: center;
    margin: 10px;
    border: 3px solid #8ba9c5;
}

.img-mesa-dulce{
    display: flex;
}

.img-md1, .img-md2{
    width: 50%;
}

.img-md3{
    display: none;
}

.ser-mesa-dulce{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    margin: 1.5rem;
}

.mas-sabores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

div h3{
    margin: 1rem;
}

.mas-sabores div{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

.mas-sabores div img{
    width: 100%;
}

@media screen and (min-width:1024px){
    .img-md3{
        display: block;
    }
    .seccion-servi-dulce{
        display: flex;
        flex-direction: column;
        margin: 2rem;
    }
    .img-mesa-dulce{
        justify-content: center;
        text-align: center;
    }
    .img-md1, .img-md2{
        width: auto;
    }
    .mas-sabores div img{
        width: 50%;
        height: 50%;
    }
    .mas-sabores div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 1rem;
    }
    .seccion-servi-salada{
        margin-bottom: 2rem;
    }
}

/*css contacto*/

.titulo-contacto{
    display: block;
    text-align: center;
    margin: 10px;
    border: 3px solid #8ba9c5;
}

.contacto-cuerpo{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    margin: 2rem;
}

.contactanos-orden{
    order: -1;
}

.contactanos-orden form .formu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    gap: 0.5em;
}

.contactanos-orden form .botones{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5em;
}

.contactanos-orden form .formu input{
    width: 100%;
}

.contactanos-orden form div .arriba{
    vertical-align: top;
}

.contacto-lugar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contacto-lugar ul{
    line-height: 1.5rem;
}

.contacto-lugar ul li:nth-child(3){
    list-style: none;
    text-align: center;
    text-decoration: underline;
}

.contacto-lugar ul li:nth-child(5){
    list-style: none;
}

.contacto-lugar ul li:nth-child(7){
    list-style: none;
}

/*footer contacto mobilefist*/

.footer-contacto{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.footer-contacto .fc1{
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.footer-contacto .fc2{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*css queries contacto 1024*/

@media screen and (min-width:1024px){
    .contacto-cuerpo{
        height: 50%;
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
    }
    .footer-contacto{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        margin: 10px;
        justify-items: center;
        align-items: center;
    }
}

/*css queries cositas 1024*/

@media screen and (min-width:1024px){
    .seccion-cositas{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 20px 20px;
        justify-items: center;
        align-items: center;
    }
}